*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color:blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
}
h1{
    font-size: 5vw;
    text-align: center;
    margin-top: 1vw;
}
#selection{
    width:100%;
    justify-content: center;
    display: flex;
    margin: 1vw;
}
#select-color{
    border: 0.1vw solid black;
    color: yellow;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#sketch-color{
    margin: 0 auto;
}

button{
    background-color: yellow;
    border-color: yellow;
    border-radius: 25%;
    margin:0 1vw;
    padding: 0.5vw
}

#container{
    display:flex;
    flex-wrap: wrap;
    background-color:white;
    width: 31vw;
    height: 31vw;
    justify-content:center;
    margin: 0vw auto; 
    padding: 0vw;
    border: 0.5vw solid black;
}
#square{
    margin: 0px;
    border: 0.1vw solid lightgrey;
}
#square:hover{
    background-color: rgba(128,128,128,0.3);
}
